.nslp-settings/
.nslp-settings/*
.exrc.lua
.nvim
.nvim/*
.vim
.vim/*
NakOS.iso
build/
build/*
Toolchain/opt/
Toolchain/opt/*
Toolchain/src/
Toolchain/src/*
.cache/
.cache/*
build_commands.json
compile_commands.json
nak
